/* Apply default margin and padding resets */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Container with placeholder */
.container {
	background: #000;
    background-image: url('baseTiny2.jpg'); /* Low-res placeholder */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* High-res background class */
.container.loaded {
    background-image: url('base.png'); /* High-res background image*/
}

/* Centered text style */
.ballet-centered {
	font-family: "Ballet", cursive;
	/*font-optical-sizing: auto;*/
	font-size: 5rem;
	font-weight: 400;
	color: white;
	font-style: normal;
	margin: 0;
}
.centered-text {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
}
